body {
    padding: 0 20px;
    box-sizing: border-box;
}
.logements-list {
    padding: 55px 50px;
    background-color: #f6f6f6;
    border-radius: 25px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 60px;
    max-width: 1160px;
    margin: auto;
    margin-top: 43px;
}

article img {
    width: 100%;
    height: 340px;
    border-radius: 20px;
    filter: brightness(80%);
    object-fit: cover;
}

.card-link {
    text-decoration: none;
}

.card-title h2 {
    font-weight: 500;
    font-size: 18px;
    color: black;
}

.card {
    position: relative;
    margin-bottom: 40px;
    width: 340px;
}

.card h2 {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    color: white;
    padding: 15px;
}

@media (max-width: 768px) {
    .logements-list {
        padding: 50px 0px;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        width: 100%;
        background-color: transparent;
        margin-bottom: 27px;
        max-width: 1240px;
        min-width: 390px;
    }

    .card {
        flex: 1 1 auto;
        margin: 0;
    }

    article img {
        max-height: 200px;
    }
    


}