/* 
.logement-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 470px;
    position: relative;
}

.logement-carousel-image {
    border-radius: 25px;
    width: 1240px;
    height: 400px;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    object-position: center;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    color: white;
    background-color: transparent;
    font-size: 5rem;
    cursor: pointer;
    z-index: 1;
}

.arrow_left {
    left: 10px;
}

.arrow_right {
    right: 10px;
}

/***  HOST   ****/

.host-picture {
    border-radius: 50%;
}

